@import "tailwindcss";

:root {
  --background: #f8fafc;
  --containerBackground: #ffffff;
  --secondaryBackground: #f1f5f9;
  --secondaryText: #eaeaea;
  --foreground: #020817;
  --secondaryForeground: #556072;
  --blue:#3b82f6;
}

[data-theme="dark"] {
  --background: #020817;
  --secondaryBackground: #1e293b;
  --containerBackground: #061027;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
